<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="https://logging.apache.org/xml/ns"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="
                   https://logging.apache.org/xml/ns
                   https://logging.apache.org/xml/ns/log4j-config-2.xsd">
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%d{ABSOLUTE}|%C{1}|%p: %m%n"/>
        </Console>
        <File name="FILE" fileName="latest.log">
            <PatternLayout pattern="%d{ABSOLUTE}|%C{1}|%p: %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="CONSOLE" level="INFO"/>
            <AppenderRef ref="FILE" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>
